*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#519872;
    color: #BEC5AD;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
.header{
    margin-bottom: 2rem;
    height: 15vh;
    width: 100vw;
    background-color: #3B5249;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 20px 4px  black;
}
button{
    all:unset;
    margin-right: 25px;
    border: 2px solid  #BEC5AD; ;
    padding:10px;
    border-radius: 25px;

}
button:hover{
    opacity: .7;
}
.title{
    background-color: #3B5249;
    margin-left: 10px;
    text-align: center;
    font-size: 2.2rem;
    text-decoration: underline;
}


.main{
    background-color:#519872;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    justify-content: center;
    align-items: center;
    justify-items: center;
    row-gap: 1.3rem;
    column-gap: 1rem;
}

.box{
    height: max(200px,15.6rem);
    width: max(200px,15.6rem);
    background-color: #34252F;
    border-radius: 25px;
}

.box:hover{
    outline:2px solid #BEC5AD;
}



.box{
    margin: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
.box-content{
    margin-left: min(2rem, 25px);
    font-size: 1.2rem;
    font-weight: bold;
    background-color: inherit;
}
.box-button{
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 5px;
  align-self: stretch;
  margin: 0.2rem;
  text-align: center;
}



.book-form{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height:400px;
    width: 400px;
    background-color: #519872;
    border-radius: 25px;
    box-shadow: 2px 2px 20px 3px black ;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    font-weight: bold;
    font-size: 1.4;
}

.disabled{
    display: none;
}

.book-text{
   
    color: #3B5249;
    all: unset;
    border:2px solid black;
    border-radius: 10px;
    height: 2.5rem;
}


